import style from './{{name}}Page.module.css'

const {{pascalCase name}}Page = () => {
    return(
        <div className={style.{{name}}Page }>
            {{pascalCase name}}Page
        </div>
    )
}

export default {{pascalCase name}}Page
